 <section class="main text-center">
  <div class="card justify-content-center">
    <div class="card-body">
      <h5 class="card-title">{{blog_title}}</h5>
      <p class="card-text">{{blog_content}}</p>
      <a href="#" class="btn btn-primary">View Post</a>
    </div>       
  </div>
 </section>