 <section class="main text-center">
  <div class="card justify-content-center">
    <div class="card-body">
      <h5 class="card-title">Post By {{username}} {{blog_title}}</h5>
      <p class="card-text">{{blog_content}}</p>
      <h6 class="card-title">Comments:</h6>
      <p class="card-text">{{blog_comments}}</p>
    </div>       
  </div>
 </section>